
// quick styles for prototyping... I should organize these

.side-module
	position absolute
	top 15px
	right 15px
	bottom 15 + 70px
	width 300px

	overflow scroll

	padding 20px 0 0 0

	background lighten(off-white, 40%)
	border 1px solid darken(lightest-gray, 10%)
	border-radius 3px

	color darkest-blue

	p
		padding 0 15px

	h1, h2, h3, h4, h5
		padding 10px 15px
		background lightest-gray

.commitments
	margin 0
	
	li
		padding 15px

		border-bottom 1px solid lightest-gray

		.direction
			position relative
			top 5px
			font-size 40px
			line-height 10px
			margin-right 5px

			color red

		.controls
			display inline-block
			float right
			margin-top -10px

			.button
				height 40px
				width 40px
				line-height 32px

		.empty-check
			height 16px
			width 16px
			float left
			// background #fff
			border-radius 3px
			margin-right 5px
			box-shadow inset 0px 1px 1px rgba(0,0,0,.2)

		&:last-of-type
			border none

.instructions
	color gray