@media all and (min-width: 769px) {
  @font-face {
    font-family: 'Neutra';
    src: url("NeutraTextTF-Book.otf");
    /* everyone else take this */ }

  body {
    font-family: 'Neutra', sans-serif; }

  .ambient, .main {
    display: none; }

  .start h1 {
    font-size: 64px;
    position: absolute;
    top: 36%;
    left: 40%;
    font-weight: 300;
    color: #A0DC3F; }

  /* Ambient */
  .vis_circles {
    shape-rendering: geometricPrecision;
    opacity: 0.5; }

  /* Main view */
  #clock {
    position: absolute;
    top: 20px;
    left: 20px; }
    #clock .arc {
      stroke: #eee;
      background-color: white;
      opacity: 0.8; } }
