svg(width="459px", height="307px", viewBox="0 0 459 307")
    g(id="Walls", transform="translate(4.000000, 4.000000)", stroke="#000000", stroke-width="7")
        path(d="M269.667,61.817 L269.667,110.935")
        path(d="M269.667,88.333 L151.518,88.333")
        path(d="M151.518,181.598 L151.518,61.817 L299.334,61.817 L299.334,181.598")
        path(d="M151.518,150.323 L0,150.323 L0,298.922 L451.205,298.922 L451.205,0.362 L334.993,0.362 L334.993,104.604 L301.126,104.604")
        path(d="M451.205,120.083 L373.082,120.083 L373.082,148")
        path(d="M451.205,148 L335.565,148 L335.565,181.598")
        path(d="M335.835,298.922 L335.835,276")
        path(d="M335.565,172.104 L361.285,172.104")
        path(d="M422.388,172.104 L451.205,172.104")
        path(d="M151.518,144.75 L186,144.75 L186,151.5 L299.334,151.5")
    rect(d="M156,155 L156,303 L306,303 L306,155 L156,155 Z M156,155", id="Great-room", x="156", y="155", width="150", height="148")
    rect(d="M4,154 L4,303 L157,303 L157,154 L4,154 Z M4,154", id="Living-room", x="4", y="154", width="153", height="149")
    rect(d="M157,67 L157,156 L303,156 L303,67 L157,67 Z M157,67", id="Bathroom", x="157", y="67", width="146", height="89")
    rect(d="M340,6 L340,152 L455,152 L455,6 L340,6 Z M340,6", id="Bedroom", x="340", y="6", width="115", height="146")
    rect(d="M340,152 L340,303 L455,303 L455,152 L340,152 Z M340,152", id="Studio", x="340", y="152", width="115", height="151")
    rect(d="M304,108 L304,303 L341,303 L341,108 L304,108 Z M304,108", id="Hallway", x="304", y="108", width="37", height="195")
