
// states/idle-screen.styl
//------------------------
// The first thing people see when they see our beautiful app.

// Basics
//-------------------------------

#idle-screen
	position absolute
	z-index 200
	background white

#half-step
	position absolute

	top 0
	left 0
	right 0
	bottom 0