doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='javascripts/d3.v3.min.js')
		script(type='text/javascript', src='javascripts/jquery.min.js')

		link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')

		meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
	body
		h1 START