doctype 5
html(ng-app="sh")
	head
		title= title

		//- Stylesheets
		link(rel='stylesheet', href='stylesheets/start.home.css')

		//- Javascript libraries
		script(type='text/javascript', src='javascripts/lib/d3.v3.min.js')
		script(type='text/javascript', src='javascripts/lib/colorbrewer.js')
		script(type='text/javascript', src='javascripts/lib/jquery.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.hammer.js')	
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')	
		script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js')
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')



		//- Our Javascript (there's a lot of it...)
		script(type='text/javascript', src='javascripts/lib/segue.js')
		script(type='text/javascript', src='javascripts/ui/panels.js')
		script(type='text/javascript', src='javascripts/vis/past_view.js')
		script(type='text/javascript', src='javascripts/vis/present_view.js')

		//- Angular app
		script(type='text/javascript', src='javascripts/app/index.js')
		script(type='text/javascript', src='javascripts/app/controllers.js')
		script(type='text/javascript', src='javascripts/app/directives.js')
		script(type='text/javascript', src='javascripts/app/services.js')

		//- Meta tags
		meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

	body(ng-controller="MainCtrl")
		div.pane-container
			div.past-view
				div.full-row
					figure#timeline.vis-timeline.block-segue

				div.full-row
					figure#tiles.vis-past-detail

						

				div.bottom-bar.full-row
					div.col-md-4
						div.btn-group.btn-group-justified
							a.btn.btn-default.btn-lg.active: span.icon.icon-th
							a.btn.btn-default.btn-lg: span.icon.icon-stats
							a.btn.btn-default.btn-lg: span.icon.icon-tasks
					div.col-md-5
						div.btn-group.btn-group-justified
							a.btn.btn-dark.btn-lg: span.icon.icon-tint
							a.btn.btn-dark.btn-lg.active: span.icon.icon-flash
					div.col-md-3
						a.filter-toggle.btn.btn-lg.btn-default.btn-block.popover-link: span.icon.icon-filter

				div.filter-content.hide
					div.full-row
						div.col-md-6
							h5 Rooms
							div.list-group
								a(href="#").active.list-group-item All
								a(href="#").list-group-item Living Room
								a(href="#").list-group-item Kitchen
								a(href="#").active.list-group-item Hallway
								a(href="#").list-group-item Studio
								a(href="#").list-group-item Bedroom
								a(href="#").active.list-group-item Bathroom
								a(href="#").list-group-item Exterior
						div.col-md-6
							h5 Sources
							div.list-group
								a(href="#").active.list-group-item All
								a(href="#").list-group-item Outlets
								a(href="#").list-group-item Appliances
								a(href="#").list-group-item Lights

			div.pane.present-view
				div.full-row
					div.jumbotron.clearfix.overview
						current-time
							div.col-md-4.center
								h1 {{ moment(time).format('h:mm a') }}
								p 72° indoors, 83° outdoors
						figure#three
						

				div.col-md-4
					svg
						rect#living-room(width="140px", fill="none", stroke="#39474C", stroke-width="4px", height="140px", y="140px").room
						rect#kitchen(width="140px", fill="none", stroke="#39474C", stroke-width="4px", height="140px", x="140px", y="140px").room
						rect#studio(width="140px", fill="none", stroke="#39474C", stroke-width="4px", height="140px", x="280px", y="140px").room
						rect#bedroom(width="140px", fill="none", stroke="#39474C", stroke-width="4px", height="140px", x="280px").room
				div.col-md-8
						div.col-md-4
							h1 $15.00
							h3.thin bill this month
						div.col-md-4
							h1.yellow-text 13 kW
							h3.thin current demand
						div.col-md-4
							h1.blue-text 10 gal
							h3.thin last 10 minutes

			div.pane.future-view
				figure.vis-goal-setting
					p This is where the goal setting vis should go
				div.sidebar
					div.panel.panel-default
						div.unflexible
							ul.nav.nav-pills.nav-justified
								li.active: a(href="#") Electric
								li: a(href="#") Water

							table.table
								tr
									td: strong Goal
									td: strong 3.00 kW
								tr
									td Projection
									td {{ (temperature - 60) / 10 + 2 }} kW

							div.hvac-control
								div.panel-subheading
									| Temperature
									span.temp.pull-right {{ temperature }}° F

								div.panel-body.block-segue
									input(type="range", ng-model="temperature", min="60", max="80").block-segue

							div.panel-subheading
								| Commitments

						div.flexible
							ul.list-group
								li.list-group-item 
									span.icon.icon-check
									| Watch less TV
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-check
									| Turn lights off earlier
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-unchecked
									| Eat healthier
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-check
									| Watch less TV
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-check
									| Turn lights off earlier
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-unchecked
									| Eat healthier
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-check
									| Watch less TV
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-check
									| Turn lights off earlier
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-unchecked
									| Eat healthier
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-check
									| Watch less TV
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-check
									| Turn lights off earlier
									span.badge 3 kWh
								li.list-group-item 
									span.icon.icon-unchecked
									| Eat healthier
									span.badge 3 kWh
								a(href="#").list-group-item.center
									span.icon.icon-refresh
									| Load more ideas

						div.unflexible
							div.panel-footer
								a.btn.btn-danger Cancel
								a.btn.btn-primary.pull-right Save





				

