doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/start.home.css')

		script(type='text/javascript', src='javascripts/lib/d3.v3.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.hammer.js')	

		script(type='text/javascript', src='javascripts/grid.js')
		script(type='text/javascript', src='javascripts/touch-events.js')
		script(type='text/javascript', src='javascripts/ambient.js')
		script(type='text/javascript', src='javascripts/clock.js')
		script(type='text/javascript', src='javascripts/past-goal.js')
		script(type='text/javascript', src='javascripts/index.js')

		meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
	body
		//- Navigation
		//- nav#control-shortcuts.fixed.bottom-left
		//- 	ul.circle-buttons
		//- 		li: a(href="#").button: i.entypo-list
		//- 		li: a(href="#").button: i.entypo-light-bulb
		//- 		li: a(href="#").button: i.entypo-thermometer

		figure.vis.ambient

		//- #scroll-wrap fixes a bug with how iOS handles scrolling with the grid
		div#scroll-wrap 
			div#grid-container
				section#resource-view.pane
					h1 Resources!

				section#overview.pane
					figure.vis.main
						#clock

				section#past-view.pane
					figure.vis#past-goal-view
						div.context
						div.focus
					nav.bottom-left
						div.button-group.left
							a(href="#").button: i.entypo-flash
							a(href="#").button: i.entypo-thermometer
							a(href="#").button: i.entypo-water
							
						div.button-group.left
							a(href="#").button: i.entypo-flash
							a(href="#").button: i.entypo-thermometer
							a(href="#").button: i.entypo-water

				section#goal-view.pane
					h1 Gooooaaallllll



			

