doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/start.home.css')

		script(type='text/javascript', src='javascripts/lib/d3.v3.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.hammer.js')	

		script(type="text/javascript", src="/socket.io/socket.io.js")

		script(type='text/javascript', src='javascripts/segue.js')
		script(type='text/javascript', src='javascripts/sample_data.js')
		script(type='text/javascript', src='javascripts/data-manager.js')
		script(type='text/javascript', src='javascripts/timeline-brush.js')
		script(type='text/javascript', src='javascripts/index.js')

		meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
	body
		//- Navigation
		//- nav#control-shortcuts.fixed.bottom-left
		//- 	ul.circle-buttons
		//- 		li: a(href="#").button: i.entypo-list
		//- 		li: a(href="#").button: i.entypo-light-bulb
		//- 		li: a(href="#").button: i.entypo-thermometer

		//- figure.vis.ambient

		//- #scroll-wrap fixes a bug with how iOS handles scrolling with the grid
		section#timeline
			figure
				svg
			
			//- div#pane-helpers
			//- 	div.past-helper.past-visible
			//- 		h1 Past
			//- 	div.present-helper.present-visible
			//- 		//- figure#present-focus
			//- 	div.future-helper.future-visible
			//- 		h1 Future


		div#grid-container
			section#overview.pane
				h2 Overview
				p Floorplan visualization could go here...

			section#past.pane
				h1 Past
				figure.line-graph

			section#goals.pane
				h1 Goals
			

