doctype 5
html
	head
		title= title

		//- Stylesheets
		link(rel='stylesheet', href='stylesheets/start.home.css')

		//- Javascript libraries
		script(type='text/javascript', src='javascripts/lib/d3.v3.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.hammer.js')	
		script(type='text/javascript', src='https://rawgithub.com/timrwood/moment/2.1.0/min/moment.min.js')	
		script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
		script(type='text/javascript', src='https://raw.github.com/mattedgod/D3Fire/master/d3fire.js')

		//- Our Javascript (there's a lot of it...)
		script(type='text/javascript', src='javascripts/data-manager.js')
		script(type='text/javascript', src='javascripts/segue.js')
		script(type='text/javascript', src='javascripts/clock.js')
		script(type='text/javascript', src='javascripts/floorplan.js')
		script(type='text/javascript', src='javascripts/timeline-brush.js')
		script(type='text/javascript', src='javascripts/random_data.js')
		script(type='text/javascript', src='javascripts/goal_view.js')
		script(type='text/javascript', src='javascripts/index.js')

		//- Meta tags
		meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
	body
		//- section#idle-screen
		//- 	#clock

		//- Navigation
		//- nav.shortcuts
		//- 	ul
		//- 		li: a(href="#").button-circle-large: i.entypo-list
		//- 		li: a(href="#").button-circle-large: i.entypo-light-bulb
		//- 		li: a(href="#").button-circle-large: i.entypo-thermometer 

		div#timeline
			figure


		div#grid-container
			section.overview.pane
				a(href="#")#past.button-large Past

				.main
					#clock
					#floorplan

			section.past-view.pane
				h1 Past
				figure.line-graph

			section.goal-view.pane
				figure.line-graph
				div.panel-side.right
					h3 Projected consumption
					div.projections
						div.projection.electricity
							i.entypo-flash
							span.amount.electric-text 33 kWh
						div.projection.water
							i.entypo-water
							span.amount.water-text 200 gal

					p.caption This value is calculated assuming you meet your current goals by the end of the year.

					//- Divider
					hr

					h3 Commitments
					p.caption Please make a few commitments in order to meet your short-term <span class="electric-text">electricity</span> goals.

					div.progress
						div.progress-bar(style="width: 80%;")

					p.caption.right-align 3 kw remaining

					menu.behavior-suggestions
						li
							a(href="#").button-circle-small: i.entypo-check
							| Take shorter showers
							span.impact - 2 kw
						li.selected
							a(href="#").button-circle-small.button-danger: i.entypo-cross
							| Leave the house a little warmer
							span.impact - 2 kw
						li 
							a(href="#").button-circle-small: i.entypo-check
							| Keep the lights a bit dimmer
							span.impact - 2 kw
						li 
							a(href="#").button-circle-small: i.entypo-check
							| Eat less food
							span.impact - 5 kw
						li 
							a(href="#").button-circle-small: i.entypo-check
							| Treat the planet a little better
							span.impact - 1 kw
						li 
							a(href="#").button-circle-small: i.entypo-check
							| Ride your bike to work
							span.impact - 3 kw

					div.save-state
						a.button-large.button-danger.cancel Cancel
						a.button-large.save Save




			

