doctype 5
html(ng-app="sh")
	head
		title= title

		//- Stylesheets
		link(rel='stylesheet', href='stylesheets/start.home.css')
		link(rel='stylesheet', href='http://ricostacruz.com/nprogress/nprogress.css')

		//- Javascript libraries
		script(type='text/javascript', src='javascripts/lib/d3.v3.min.js')
		script(type='text/javascript', src='javascripts/lib/colorbrewer.js')
		script(type='text/javascript', src='javascripts/lib/jquery.min.js')
		script(type='text/javascript', src='javascripts/lib/jquery.hammer.js')
		//- TODO: host these locally
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')	
		script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js')
		script(type='text/javascript', src='https://raw.github.com/firebase/angularFire/master/angularfire.min.js')
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
		script(type='text/javascript', src='http://ricostacruz.com/nprogress/nprogress.js')
		script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js')

		//- Our Javascript (there's a lot of it...)
		script(type='text/javascript', src='javascripts/lib/segue.js')
		script(type='text/javascript', src='data/sun_times.js')

		//- Config
		script(type='text/javascript', src='/config', id='config')

		script(type='text/javascript', src='javascripts/ui/panels.js')
		script(type='text/javascript', src='javascripts/ui/buttons.js')

		script(type='text/javascript', src='javascripts/vis/lockscreen.js')	
		script(type='text/javascript', src='javascripts/vis/gantt.js')	
		script(type='text/javascript', src='javascripts/vis/tiles.js')
		script(type='text/javascript', src='javascripts/vis/timeline.js')
		script(type='text/javascript', src='javascripts/vis/past_view.js')
		script(type='text/javascript', src='javascripts/vis/present_view.js')
		script(type='text/javascript', src='javascripts/vis/future_view.js')

		//- Angular app
		script(type='text/javascript', src='javascripts/app/index.js')
		script(type='text/javascript', src='javascripts/app/controllers.js')
		script(type='text/javascript', src='javascripts/app/directives.js')
		script(type='text/javascript', src='javascripts/app/services.js')

		//- Meta tags
		meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="default")

	body(ng-controller="MainCtrl")
		div#kitchen-modal.modal.fade
			div.modal-dialog
				div.modal-content
					div.modal-header
						button(type="button", data-dismiss="modal").close &times;
						h4.modal-title Controls
					div.modal-body
						div.row
							div.col-md-6
								div.list-group

		div.lockscreen(ng-controller="RingCtrl")
			div.ring
				div.inner-ring
					current-time
						h1 {{ moment(time).format('h:mm a') }}
					h4: small inside {{ climate.inside.temperature }}°, outside {{ climate.outside.temperature }}°
			div.bottom-bar
				div.center.text-lighter
					span.icon.icon-chevron-up
					p lift to unlock

		div.controls-rack(ng-controller="ControlCtrl")
			div.center.text-lighter.handle
				img(src="images/params.svg", height="20px").params-icon

			div.row
				div.col-md-2
					h4 Scenes
					div.list-group
						a(href="#").list-group-item Movie night
						a(href="#").list-group-item Dinner night
						a(href="#").list-group-item Breakfast
					div.list-group
						a(href="#").list-group-item All on
						a(href="#").list-group-item All off
				div.col-md-4
					h4 Rooms
					div.list-group
						a.list-group-item(ng-repeat="room in room_names", ng-click="switchRoom(room)") {{ room }}
				div.col-md-6
					h4 {{ current_room }}
					ul.list-group.block-segue
						li.list-group-item(ng-repeat="control in controls | filter:{room:current_room}", ng-click="toggleControl(control)") {{ control.title }}
							input(type="range", ng-model="control.value", min="{{ control.min }}", max="{{ control.max }}", ng-if="control.max != 1").block-segue.pull-right
							span.pull-right(ng-if="control.max == 1", ng-class="{false: 'text-success', true: 'text-danger'}[control.value == 0]") {{ {true: 'Off', false: 'On'}[control.value == 0] }}



		div.pane-container
			div.pane.past-view
				div.full-row
					//- p.text-muted Release to update the visualization
					figure#timeline.vis-timeline.block-segue

				div.full-row
					figure#tiles.vis-past-detail
						svg
						figure#mini-floorplan
							svg(width="459px", height="307px", viewBox="0 0 459 307")
								g(stroke="none")
									rect(d="M156,155 L156,303 L306,303 L306,155 L156,155 Z M156,155", class="room", id="Great-room", x="156", y="155", width="150", height="148")
									rect(d="M4,154 L4,303 L157,303 L157,154 L4,154 Z M4,154", class="room", id="Living-room", x="4", y="154", width="153", height="149")
									rect(d="M157,67 L157,156 L303,156 L303,67 L157,67 Z M157,67", class="room", id="Bathroom", x="157", y="67", width="146", height="89")
									rect(d="M340,6 L340,152 L455,152 L455,6 L340,6 Z M340,6", class="room", id="Bedroom", x="340", y="6", width="115", height="146")
									rect(d="M340,152 L340,303 L455,303 L455,152 L340,152 Z M340,152", class="room", id="Studio", x="340", y="152", width="115", height="151")
									rect(d="M304,108 L304,303 L341,303 L341,108 L304,108 Z M304,108", class="room", id="Hallway", x="304", y="108", width="37", height="195")
								g(id="walls", transform="translate(4.000000, 4.000000)", fill="none", stroke="#000000", stroke-width="7")
									path(d="M269.667,61.817 L269.667,110.935")
									path(d="M269.667,88.333 L151.518,88.333")
									path(d="M151.518,181.598 L151.518,61.817 L299.334,61.817 L299.334,181.598")
									path(d="M151.518,150.323 L0,150.323 L0,298.922 L451.205,298.922 L451.205,0.362 L334.993,0.362 L334.993,104.604 L301.126,104.604")
									path(d="M451.205,120.083 L373.082,120.083 L373.082,148")
									path(d="M451.205,148 L335.565,148 L335.565,181.598")
									path(d="M335.835,298.922 L335.835,276")
									path(d="M335.565,172.104 L361.285,172.104")
									path(d="M422.388,172.104 L451.205,172.104")
									path(d="M151.518,144.75 L186,144.75 L186,151.5 L299.334,151.5")
					figure#gantt.vis-past-detail

				div.bottom-bar.full-row
					//- div.col-md-5
					//- 	div.btn-group.btn-group-justified(data-toggle="buttons")
					//- 		label.btn.btn-default.btn-lg.active
					//- 			input(type="radio", name="active-vis", value="tiles") 
					//- 			span.icon.icon-th
					//- 		//- label.btn.btn-default.btn-lg 
					//- 		//- 	input(type="radio", name="active-vis", value="not-sure") 
					//- 		//- 	span.icon-entypo-line-graph
					//- 		label.btn.btn-default.btn-lg 
					//- 			input(type="radio", name="active-vis", value="gantt") 
					//- 			span.icon.icon-tasks
					div.col-md-4.col-md-offset-4
						div.btn-group.btn-group-justified(data-toggle="buttons")
							label.btn.btn-dark.btn-lg
								input(type="radio", name="active-data-type", value="water")
								span.icon.icon-tint
							label.btn.btn-dark.btn-lg.active
								input(type="radio", name="active-data-type", value="electric")
								span.icon.icon-flash

					//- div.col-md-3
					//- 	a.filter-toggle.btn.btn-lg.btn-default.btn-block.popover-link(data-toggle="button")
					//- 		span.icon.icon-filter

				//- div.filter-content.hide
				//- 	div.full-row
				//- 		div.col-md-6
				//- 			h5 Rooms
				//- 			div#rooms-list.list-group
				//- 				a(href="#", data-room="All").active.list-group-item All
				//- 		div.col-md-6
				//- 			h5 Sources
				//- 			div#sources-list.list-group
				//- 				a(href="#").active.list-group-item All

			div.pane.present-view(ng-controller="PresentCtrl")
				div.full-row
					figure#three

				div.row#main-vis
					div.col-md-8
						figure#main-floorplan
							svg(width="800px", height="400px", viewBox="0 0 459 307")
								g(stroke="none")
									rect(d="M156,155 L156,303 L306,303 L306,155 L156,155 Z M156,155", class="room", id="Great-room", x="156", y="155", width="150", height="148")
									rect(d="M4,154 L4,303 L157,303 L157,154 L4,154 Z M4,154", class="room", id="Living-room", x="4", y="154", width="153", height="149")
									rect(d="M157,67 L157,156 L303,156 L303,67 L157,67 Z M157,67", class="room", id="Bathroom", x="157", y="67", width="146", height="89")
									rect(d="M340,6 L340,152 L455,152 L455,6 L340,6 Z M340,6", class="room", id="Bedroom", x="340", y="6", width="115", height="146")
									rect(d="M340,152 L340,303 L455,303 L455,152 L340,152 Z M340,152", class="room", id="Studio", x="340", y="152", width="115", height="151")
									rect(d="M304,108 L304,303 L341,303 L341,108 L304,108 Z M304,108", class="room", id="Hallway", x="304", y="108", width="37", height="195")
								g(id="walls", transform="translate(4.000000, 4.000000)", fill="none", stroke="#000000", stroke-width="7")
									path(d="M269.667,61.817 L269.667,110.935")
									path(d="M269.667,88.333 L151.518,88.333")
									path(d="M151.518,181.598 L151.518,61.817 L299.334,61.817 L299.334,181.598")
									path(d="M151.518,150.323 L0,150.323 L0,298.922 L451.205,298.922 L451.205,0.362 L334.993,0.362 L334.993,104.604 L301.126,104.604")
									path(d="M451.205,120.083 L373.082,120.083 L373.082,148")
									path(d="M451.205,148 L335.565,148 L335.565,181.598")
									path(d="M335.835,298.922 L335.835,276")
									path(d="M335.565,172.104 L361.285,172.104")
									path(d="M422.388,172.104 L451.205,172.104")
									path(d="M151.518,144.75 L186,144.75 L186,151.5 L299.334,151.5")
					div.col-md-4.pull-right
						br
						h4 Electric 
							small.pull-right top 3 energy consumers
						ul.list-group#electric-consumers
						h4 Water 
							small.pull-right top 3 water consumers
						ul.list-group#water-consumers


				div.bottom-bar.full-row

					//- div.col-md-2
					//- 	a.scene-toggle.btn.btn-lg.btn-dark.btn-block.popover-link(data-toggle="button")
					//- 		span.icon.icon-align-justify
					//- div.col-md-2
					//- 	button.control-toggle.btn.btn-lg.btn-dark.btn-block.popover-link

					//- div.col-md-1.col-md-offset-4
					//- 	img(src="images/params.svg", height="20px").params-icon

					div.col-md-3.current-time.col-md-offset-8
						current-time
							h4.right {{ moment(time).format('h:mm a') }}
								br
								small inside {{ climate.inside.temperature }}°, outside {{ climate.outside.temperature }}°

					//- This button should return us to the ring view
					div.col-md-1
						div.btn-group.btn-group-justified
							a.btn.btn-default.btn-lg(href="#", data-toggle="lock"): span.icon.icon-off

					div.scene-content.hidden
						div.full-row
							div.list-group
								a(href="#").list-group-item Movie night
								a(href="#").list-group-item Dinner night
								a(href="#").list-group-item Breakfast
								hr
								a(href="#").list-group-item All on
								a(href="#").list-group-item All off


			div.pane.future-view(ng-controller="FutureCtrl")
				figure.vis-goal-setting#future
				div.sidebar
					div.panel.panel-default
						div.unflexible
							ul.nav.nav-pills.nav-justified
								li.active: a(href="#electric", data-toggle="pill", data-metric="electric") Electric
								li: a(href="#water", data-toggle="pill", data-metric="water") Water

						div.tab-content
							div#water.tab-pane
								p.text-muted: small Set your water consumption goals for the next month by dragging the dot on the left.
								table.table
									tr
										td: strong Goal
										td: strong {{ round(present.goals.water)  }} gal
									tr
										td Projection
										td {{ round(projection.water) }} gal

								div.panel-subheading
									| Commitments

								div.panel-body.panel-body-full
									div.list-group
										a.list-group-item(href="#", ng-repeat="commitment in present.commitments.water", ng-click="toggleCommitment(commitment)")
											span.icon(ng-class="{true: 'icon-check', false: 'icon-unchecked'}[commitment.selected]")
											| {{ commitment.text }}
											span.badge {{ commitment.impact }} gal
							div#electric.tab-pane.active
								p.text-muted: small Set your electricity consumption goals for the next month by dragging the dot on the left.
								table.table
									tr
										td: strong Goal
										td: strong {{ round(present.goals.electric) }} kWh
									tr
										td Projection
										td {{ round(projection.electric) }} kWh

								div.hvac-control
									div.panel-subheading
										| Temperature
										span.temp.pull-right {{ present.temperature }}° F

									div.panel-body.block-segue
										input(type="range", ng-model="present.temperature", min="60", max="80")

								div.panel-subheading
									| Commitments

								div.panel-body.panel-body-full
									div.list-group
										a.list-group-item(href="#", ng-repeat="commitment in present.commitments.electric", ng-click="toggleCommitment(commitment)")
											span.icon(ng-class="{true: 'icon-check', false: 'icon-unchecked'}[commitment.selected]")
											| {{ commitment.text }}
											span.badge {{ commitment.impact }} kWh

						div.unflexible
							div.panel-footer(ng-class="{true: 'hidden', false: ''}[equals(present, old_present)]")
								a.btn.btn-default(ng-click="resetGoals()") Reset
								a.btn.btn-primary.pull-right(ng-click="saveGoals()") Save
							div.panel-footer.text-muted(ng-class="{false: 'hidden', true: ''}[equals(present, old_present)]")
								| Changes synced





				

