@media all and (min-width: 769px) {
    $screen-height: 748px;
    $screen-width: 1024px;

    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f8f8f8;
    }

    .hidden{
      display: none;
    }

    /* Main view */
    #past{
      font-size: 18px;
      cursor: pointer;
      color: #444;
      position: absolute;
      top: 5px;
      left: 10px;
      z-index: 5;
    }

    #clock{
      width: $screen-width;
      margin: 0;

      .area{
        fill: #ffbb78;
        opacity: 0.5;
      }

      .line{
        fill: none;
        stroke: #e6550d;
        stroke-width: 1px;
      }

      .in_area{
        fill: #a1d99b;
        opacity: 0.8;
      }

      .in_line{
        fill: none;
        stroke: #31a354;
        stroke-width: 1px;
      }

      .min_line{
        stroke: #e377c2;
        stroke-width: 1.5px;
        stroke-dasharray: (3, 3);
        fill: none;
      }

      .max_line{
        stroke: #e6550d;
        stroke-width: 1.5px;
        stroke-dasharray: (3, 3);
        fill: none;
      }

      .daytime_arc{
        fill: yellow;
        stroke: none;
        opacity: 0.7;
      }

      .coordinates{
         stroke: #ccc;
      }
    }

    #floorplan{
      position: absolute;
      z-index: 5;
      top: 240px;
      left: 342px;
    }

}