@media all and (min-width: 769px) {
    $screen-height: 748px;
    $screen-width: 1024px;

    body {
        font-family: 'Open Sans', sans-serif;
    }

    .hidden{
      display: none;
    }

    /* Main view */
    #clock{
      width: $screen-height;
      margin: 0 auto;

      .area{
        fill: #ffbb78;
      }

      .line{
        fill: none;
        stroke: #e6550d;
        stroke-width: 1px;
      }

      .p_area{
        fill: #a1d99b;
      }

      .p_line{
        fill: none;
        stroke: #31a354;
        stroke-width: 1px;
      }

      .min_line{
        stroke: #e377c2;
        stroke-width: 1.5px;
        stroke-dasharray: (3, 3);
        fill: none;
      }

      .max_line{
        stroke: #e6550d;
        stroke-width: 1.5px;
        stroke-dasharray: (3, 3);
        fill: none;
      }

      .daytime_arc{
        fill: yellow;
        stroke: none;
        opacity: 0.8;
      }
    }

}