@media all and (min-width: 769px) {
    $screen-height: 748px;
    $screen-width: 1024px;

    body {
        font-family: 'Open Sans', sans-serif;
    }

    .hidden{
      display: none;
    }

    /* Main view */
    #clock{
      position: absolute;
      top: 55px;
      left: 160px;

      .arc{
        background-color: white;
        opacity: 0.9;
      }

      .water_arc{
        background-color: white;
        opacity: 0.9;
      }
    }
}