.button, button
	display inline-block

	text-align center
	text-decoration none
	color button-color
	border 2px solid button-color

	&.yes
		color darken(green, 40%)

	&.no
		color red

	&:hover
		background button-hover-color
		border-color button-hover-color
		color white

	&:active, &.active
		border-color button-active-color
		background button-active-color
		color white

	&.disabled
		cursor default
		opacity .2

		&:active, &.active
			background none
			color gray
			border-color none
	
	width button-height
	height button-height
	line-height button-height - 10px // FIXME: this also depends on the base font... ugh! might as well hardcode it
	font-size 40px

.button-group
	.button, button
		display block
		float left
		border-right-width 0

		&:first-of-type
			border-radius left 5px

		&:last-of-type
			border-radius right 5px
			border-right-width 2px

.circle-buttons button, .circle-buttons .button, .button.circle, button.circle
	width button-circle-diameter
	height button-circle-diameter
	border-radius 30px
	overflow hidden

	font-size 40px
	line-height 51px // FIXME: circle button line-height needs to change with different base fonts -- why?