@import "bootstrap/bootstrap";
@import "entypo";
@import "scaffolding";
@import "extensions";
@import "visualizations";

.vis-past-detail, .vis-goal-setting {
	// padding: @padding-large-vertical @padding-large-horizontal;

	// background: @gray-light;
	border-radius: @border-radius-small;
}

.vis-timeline {
	margin: @grid-gutter-width 0;
	margin-bottom: 0;
	height: 70px;
}

.vis-past-detail {
	position: absolute;
	top: 70px + 2 * @grid-gutter-width;
	bottom: 0;
	left: 0;
	right: 0;

	margin-bottom: 45px + 2 * @grid-gutter-width;
}

.vis-goal-setting {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 2 * @grid-gutter-width + 300px;
}

.bottom-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 @grid-gutter-width / 2;

	margin: @grid-gutter-width 0;
}

.filter-bar {
	position: absolute;
	bottom: 45px + @grid-gutter-width * 1.5;
	left: @grid-gutter-width;
	right: @grid-gutter-width;
	// width: 100%;
	padding: @padding-large-vertical 0;

	// margin: @grid-gutter-width 0;

	background: #fff;
	border: 1px solid #ddd;
	border-radius: @border-radius-base;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);

	text-transform: capitalize;

	.full-row {
		margin: 0;
	}

	.full-row:first-of-type {
		margin-bottom: @padding-small-vertical;
	}
}

.popover {
	max-width: 300px !important;
	width: 300px;
}

.popover-title {
	background: none;
	border: none;
	font-weight: bold;
}

.popover-content {
	padding: 0;

	.list-group {
		border: none;
		margin-bottom: 0;

		.list-group-item {
			border: none;
			border-radius: 0px;

			&+.list-group-item {
				border-top: 1px solid @gray-lighter;
			}
		}
	}

	.col-md-6 {
		padding: 0;
	}

	h5 {
		padding: 0 @padding-small-horizontal;
	}
}

.overview {
	position: relative;
	margin: @grid-gutter-width;
	border-radius: @border-radius-large;
	background: none;
	
	height: 228px;
}

.sidebar {
	position: absolute;

	right: @grid-gutter-width;
	top: @grid-gutter-width;
	bottom: @grid-gutter-width;
	width: 300px;

	.panel {
		display: table;
		height: 100%;

		.nav li {
			padding: @padding-small-horizontal;

			&+li {
				padding-left: 0;
			}
		}
	}

	p {
		padding: @padding-small-horizontal;
	}

	.panel-footer {
		position: absolute;
		bottom: 1px;
		left: 1px;
		right: 1px;
	}

	table {
		margin-bottom: 0;
	}

	.panel-body-full {
		padding: 0;
	}

	.list-group-item {
		padding: @padding-large-vertical @padding-large-horizontal;
		border-color: transparent;
		border-radius: 0;
	}
}

.hvac-control {

	input[type="range"] {
		 -webkit-appearance: none !important;
		
		width: 100%;
		background: @gray-light;
		border-radius: 40px;

		padding: 3px;

		border: 1px solid darken(@gray-light, 10%);
	}

	input[type="range"]::-webkit-slider-thumb {
	 	-webkit-appearance: none !important;

	 	background: @gray;
	 	height: 40px;
	 	width: 40px;
	 	border-radius: 50%;
	}
}

.lockscreen {
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	border-bottom: 1px solid @gray;
}

.current-time, .height-fix {
	height: 0;
	position: relative;
	top: -5px;
}