
// start.home.styl
//----------------
// Pulls together all of the CSS partials.


@import "nib"
@import "reset"
@import "icons"

@import "globals"

// Components
@import "components/lists"
@import "components/buttons"
@import "components/badges"
@import "components/panels"
@import "components/visualizations"
@import "components/progress"
@import "components/sliders"
@import "components/navigation"

// Animation
@import "states/animation"

// Screens
@import "states/idle-screen"