.entypo-phone:before{font-family:Entypo;content:"📞"}
.entypo-mobile:before{font-family:Entypo;content:"📱"}
.entypo-mouse:before{font-family:Entypo;content:""}
.entypo-address:before{font-family:Entypo;content:""}
.entypo-mail:before{font-family:Entypo;content:"✉"}
.entypo-paper-plane:before{font-family:Entypo;content:"🔿"}
.entypo-pencil:before{font-family:Entypo;content:"✎"}
.entypo-feather:before{font-family:Entypo;content:"✒"}
.entypo-attach:before{font-family:Entypo;content:"📎"}
.entypo-inbox:before{font-family:Entypo;content:""}
.entypo-reply:before{font-family:Entypo;content:""}
.entypo-reply-all:before{font-family:Entypo;content:""}
.entypo-forward:before{font-family:Entypo;content:"➦"}
.entypo-user:before{font-family:Entypo;content:"👤"}
.entypo-users:before{font-family:Entypo;content:"👥"}
.entypo-add-user:before{font-family:Entypo;content:""}
.entypo-vcard:before{font-family:Entypo;content:""}
.entypo-export:before{font-family:Entypo;content:""}
.entypo-location:before{font-family:Entypo;content:""}
.entypo-map:before{font-family:Entypo;content:""}
.entypo-compass:before{font-family:Entypo;content:""}
.entypo-direction:before{font-family:Entypo;content:"➢"}
.entypo-hair-cross:before{font-family:Entypo;content:"🎯"}
.entypo-share:before{font-family:Entypo;content:""}
.entypo-shareable:before{font-family:Entypo;content:""}
.entypo-heart:before{font-family:Entypo;content:"♥"}
.entypo-heart-empty:before{font-family:Entypo;content:"♡"}
.entypo-star:before{font-family:Entypo;content:"★"}
.entypo-star-empty:before{font-family:Entypo;content:"☆"}
.entypo-thumbs-up:before{font-family:Entypo;content:"👍"}
.entypo-thumbs-down:before{font-family:Entypo;content:"👎"}
.entypo-chat:before{font-family:Entypo;content:""}
.entypo-comment:before{font-family:Entypo;content:""}
.entypo-quote:before{font-family:Entypo;content:"❞"}
.entypo-home:before{font-family:Entypo;content:"⌂"}
.entypo-popup:before{font-family:Entypo;content:""}
.entypo-search:before{font-family:Entypo;content:"🔍"}
.entypo-flashlight:before{font-family:Entypo;content:"🔦"}
.entypo-print:before{font-family:Entypo;content:""}
.entypo-bell:before{font-family:Entypo;content:"🔔"}
.entypo-link:before{font-family:Entypo;content:"🔗"}
.entypo-flag:before{font-family:Entypo;content:"⚑"}
.entypo-cog:before{font-family:Entypo;content:"⚙"}
.entypo-tools:before{font-family:Entypo;content:"⚒"}
.entypo-trophy:before{font-family:Entypo;content:"🏆"}
.entypo-tag:before{font-family:Entypo;content:""}
.entypo-camera:before{font-family:Entypo;content:"📷"}
.entypo-megaphone:before{font-family:Entypo;content:"📣"}
.entypo-moon:before{font-family:Entypo;content:"☽"}
.entypo-palette:before{font-family:Entypo;content:"🎨"}
.entypo-leaf:before{font-family:Entypo;content:"🍂"}
.entypo-note:before{font-family:Entypo;content:"♪"}
.entypo-beamed-note:before{font-family:Entypo;content:"♫"}
.entypo-new:before{font-family:Entypo;content:"💥"}
.entypo-graduation-cap:before{font-family:Entypo;content:"🎓"}
.entypo-book:before{font-family:Entypo;content:"📕"}
.entypo-newspaper:before{font-family:Entypo;content:"📰"}
.entypo-bag:before{font-family:Entypo;content:"👜"}
.entypo-airplane:before{font-family:Entypo;content:"✈"}
.entypo-lifebuoy:before{font-family:Entypo;content:""}
.entypo-eye:before{font-family:Entypo;content:""}
.entypo-clock:before{font-family:Entypo;content:"🕔"}
.entypo-mic:before{font-family:Entypo;content:"🎤"}
.entypo-calendar:before{font-family:Entypo;content:"📅"}
.entypo-flash:before{font-family:Entypo;content:"⚡"}
.entypo-thunder-cloud:before{font-family:Entypo;content:"⛈"}
.entypo-droplet:before{font-family:Entypo;content:"💧"}
.entypo-cd:before{font-family:Entypo;content:"💿"}
.entypo-briefcase:before{font-family:Entypo;content:"💼"}
.entypo-air:before{font-family:Entypo;content:"💨"}
.entypo-hourglass:before{font-family:Entypo;content:"⏳"}
.entypo-gauge:before{font-family:Entypo;content:"🛇"}
.entypo-language:before{font-family:Entypo;content:"🎔"}
.entypo-network:before{font-family:Entypo;content:""}
.entypo-key:before{font-family:Entypo;content:"🔑"}
.entypo-battery:before{font-family:Entypo;content:"🔋"}
.entypo-bucket:before{font-family:Entypo;content:"📾"}
.entypo-magnet:before{font-family:Entypo;content:""}
.entypo-drive:before{font-family:Entypo;content:"📽"}
.entypo-cup:before{font-family:Entypo;content:"☕"}
.entypo-rocket:before{font-family:Entypo;content:"🚀"}
.entypo-brush:before{font-family:Entypo;content:""}
.entypo-suitcase:before{font-family:Entypo;content:"🛆"}
.entypo-traffic-cone:before{font-family:Entypo;content:"🛈"}
.entypo-globe:before{font-family:Entypo;content:"🌎"}
.entypo-keyboard:before{font-family:Entypo;content:"⌨"}
.entypo-browser:before{font-family:Entypo;content:""}
.entypo-publish:before{font-family:Entypo;content:""}
.entypo-progress-3:before{font-family:Entypo;content:""}
.entypo-progress-2:before{font-family:Entypo;content:""}
.entypo-progress-1:before{font-family:Entypo;content:""}
.entypo-progress-0:before{font-family:Entypo;content:""}
.entypo-light-down:before{font-family:Entypo;content:"🔅"}
.entypo-light-up:before{font-family:Entypo;content:"🔆"}
.entypo-adjust:before{font-family:Entypo;content:"◑"}
.entypo-code:before{font-family:Entypo;content:""}
.entypo-monitor:before{font-family:Entypo;content:"💻"}
.entypo-infinity:before{font-family:Entypo;content:"∞"}
.entypo-light-bulb:before{font-family:Entypo;content:"💡"}
.entypo-credit-card:before{font-family:Entypo;content:"💳"}
.entypo-database:before{font-family:Entypo;content:"📸"}
.entypo-voicemail:before{font-family:Entypo;content:"✇"}
.entypo-clipboard:before{font-family:Entypo;content:"📋"}
.entypo-cart:before{font-family:Entypo;content:""}
.entypo-box:before{font-family:Entypo;content:"📦"}
.entypo-ticket:before{font-family:Entypo;content:"🎫"}
.entypo-rss:before{font-family:Entypo;content:""}
.entypo-signal:before{font-family:Entypo;content:"📶"}
.entypo-thermometer:before{font-family:Entypo;content:"📿"}
.entypo-water:before{font-family:Entypo;content:"💦"}
.entypo-sweden:before{font-family:Entypo;content:""}
.entypo-line-graph:before{font-family:Entypo;content:"📈"}
.entypo-pie-chart:before{font-family:Entypo;content:"◴"}
.entypo-bar-graph:before{font-family:Entypo;content:"📊"}
.entypo-area-graph:before{font-family:Entypo;content:"🔾"}
.entypo-lock:before{font-family:Entypo;content:"🔒"}
.entypo-lock-open:before{font-family:Entypo;content:"🔓"}
.entypo-logout:before{font-family:Entypo;content:""}
.entypo-login:before{font-family:Entypo;content:""}
.entypo-check:before{font-family:Entypo;content:"✓"}
.entypo-cross:before{font-family:Entypo;content:"❌"}
.entypo-squared-minus:before{font-family:Entypo;content:"⊟"}
.entypo-squared-plus:before{font-family:Entypo;content:"⊞"}
.entypo-squared-cross:before{font-family:Entypo;content:"❎"}
.entypo-circled-minus:before{font-family:Entypo;content:"⊖"}
.entypo-circled-plus:before{font-family:Entypo;content:"⊕"}
.entypo-circled-cross:before{font-family:Entypo;content:"✖"}
.entypo-minus:before{font-family:Entypo;content:"➖"}
.entypo-plus:before{font-family:Entypo;content:"➕"}
.entypo-erase:before{font-family:Entypo;content:"⌫"}
.entypo-block:before{font-family:Entypo;content:"🚫"}
.entypo-info:before{font-family:Entypo;content:"ℹ"}
.entypo-circled-info:before{font-family:Entypo;content:""}
.entypo-help:before{font-family:Entypo;content:"❓"}
.entypo-circled-help:before{font-family:Entypo;content:""}
.entypo-warning:before{font-family:Entypo;content:"⚠"}
.entypo-cycle:before{font-family:Entypo;content:"🔄"}
.entypo-cw:before{font-family:Entypo;content:"⟳"}
.entypo-ccw:before{font-family:Entypo;content:"⟲"}
.entypo-shuffle:before{font-family:Entypo;content:"🔀"}
.entypo-back:before{font-family:Entypo;content:"🔙"}
.entypo-level-down:before{font-family:Entypo;content:"↳"}
.entypo-retweet:before{font-family:Entypo;content:""}
.entypo-loop:before{font-family:Entypo;content:"🔁"}
.entypo-back-in-time:before{font-family:Entypo;content:""}
.entypo-level-up:before{font-family:Entypo;content:"↰"}
.entypo-switch:before{font-family:Entypo;content:"⇆"}
.entypo-numbered-list:before{font-family:Entypo;content:""}
.entypo-add-to-list:before{font-family:Entypo;content:""}
.entypo-layout:before{font-family:Entypo;content:"⚏"}
.entypo-list:before{font-family:Entypo;content:"☰"}
.entypo-text-doc:before{font-family:Entypo;content:"📄"}
.entypo-text-doc-inverted:before{font-family:Entypo;content:""}
.entypo-doc:before{font-family:Entypo;content:""}
.entypo-docs:before{font-family:Entypo;content:""}
.entypo-landscape-doc:before{font-family:Entypo;content:""}
.entypo-picture:before{font-family:Entypo;content:"🌄"}
.entypo-video:before{font-family:Entypo;content:"🎬"}
.entypo-music:before{font-family:Entypo;content:"🎵"}
.entypo-folder:before{font-family:Entypo;content:"📁"}
.entypo-archive:before{font-family:Entypo;content:""}
.entypo-trash:before{font-family:Entypo;content:""}
.entypo-upload:before{font-family:Entypo;content:"📤"}
.entypo-download:before{font-family:Entypo;content:"📥"}
.entypo-save:before{font-family:Entypo;content:"💾"}
.entypo-install:before{font-family:Entypo;content:""}
.entypo-cloud:before{font-family:Entypo;content:"☁"}
.entypo-upload-cloud:before{font-family:Entypo;content:""}
.entypo-bookmark:before{font-family:Entypo;content:"🔖"}
.entypo-bookmarks:before{font-family:Entypo;content:"📑"}
.entypo-open-book:before{font-family:Entypo;content:"📖"}
.entypo-play:before{font-family:Entypo;content:"▶"}
.entypo-paus:before{font-family:Entypo;content:"‖"}
.entypo-record:before{font-family:Entypo;content:"●"}
.entypo-stop:before{font-family:Entypo;content:"■"}
.entypo-ff:before{font-family:Entypo;content:"⏩"}
.entypo-fb:before{font-family:Entypo;content:"⏪"}
.entypo-to-start:before{font-family:Entypo;content:"⏮"}
.entypo-to-end:before{font-family:Entypo;content:"⏭"}
.entypo-resize-full:before{font-family:Entypo;content:""}
.entypo-resize-small:before{font-family:Entypo;content:""}
.entypo-volume:before{font-family:Entypo;content:"⏷"}
.entypo-sound:before{font-family:Entypo;content:"🔊"}
.entypo-mute:before{font-family:Entypo;content:"🔇"}
.entypo-flow-cascade:before{font-family:Entypo;content:"🕨"}
.entypo-flow-branch:before{font-family:Entypo;content:"🕩"}
.entypo-flow-tree:before{font-family:Entypo;content:"🕪"}
.entypo-flow-line:before{font-family:Entypo;content:"🕫"}
.entypo-flow-parallel:before{font-family:Entypo;content:"🕬"}
.entypo-left-bold:before{font-family:Entypo;content:""}
.entypo-down-bold:before{font-family:Entypo;content:""}
.entypo-up-bold:before{font-family:Entypo;content:""}
.entypo-right-bold:before{font-family:Entypo;content:""}
.entypo-left:before{font-family:Entypo;content:"⬅"}
.entypo-down:before{font-family:Entypo;content:"⬇"}
.entypo-up:before{font-family:Entypo;content:"⬆"}
.entypo-right:before{font-family:Entypo;content:"➡"}
.entypo-circled-left:before{font-family:Entypo;content:""}
.entypo-circled-down:before{font-family:Entypo;content:""}
.entypo-circled-up:before{font-family:Entypo;content:""}
.entypo-circled-right:before{font-family:Entypo;content:""}
.entypo-triangle-left:before{font-family:Entypo;content:"◂"}
.entypo-triangle-down:before{font-family:Entypo;content:"▾"}
.entypo-triangle-up:before{font-family:Entypo;content:"▴"}
.entypo-triangle-right:before{font-family:Entypo;content:"▸"}
.entypo-chevron-left:before{font-family:Entypo;content:""}
.entypo-chevron-down:before{font-family:Entypo;content:""}
.entypo-chevron-up:before{font-family:Entypo;content:""}
.entypo-chevron-right:before{font-family:Entypo;content:""}
.entypo-chevron-small-left:before{font-family:Entypo;content:""}
.entypo-chevron-small-down:before{font-family:Entypo;content:""}
.entypo-chevron-small-up:before{font-family:Entypo;content:""}
.entypo-chevron-small-right:before{font-family:Entypo;content:""}
.entypo-chevron-thin-left:before{font-family:Entypo;content:""}
.entypo-chevron-thin-down:before{font-family:Entypo;content:""}
.entypo-chevron-thin-up:before{font-family:Entypo;content:""}
.entypo-chevron-thin-right:before{font-family:Entypo;content:""}
.entypo-left-thin:before{font-family:Entypo;content:"←"}
.entypo-down-thin:before{font-family:Entypo;content:"↓"}
.entypo-up-thin:before{font-family:Entypo;content:"↑"}
.entypo-right-thin:before{font-family:Entypo;content:"→"}
.entypo-arrow-combo:before{font-family:Entypo;content:""}
.entypo-three-dots:before{font-family:Entypo;content:"⏶"}
.entypo-two-dots:before{font-family:Entypo;content:"⏵"}
.entypo-dot:before{font-family:Entypo;content:"⏴"}
.entypo-cc:before{font-family:Entypo;content:"🕅"}
.entypo-cc-by:before{font-family:Entypo;content:"🕆"}
.entypo-cc-nc:before{font-family:Entypo;content:"🕇"}
.entypo-cc-nc-eu:before{font-family:Entypo;content:"🕈"}
.entypo-cc-nc-jp:before{font-family:Entypo;content:"🕉"}
.entypo-cc-sa:before{font-family:Entypo;content:"🕊"}
.entypo-cc-nd:before{font-family:Entypo;content:"🕋"}
.entypo-cc-pd:before{font-family:Entypo;content:"🕌"}
.entypo-cc-zero:before{font-family:Entypo;content:"🕍"}
.entypo-cc-share:before{font-family:Entypo;content:"🕎"}
.entypo-cc-remix:before{font-family:Entypo;content:"🕏"}
.entypo-db-logo:before{font-family:Entypo;content:"🗹"}
.entypo-db-shape:before{font-family:Entypo;content:"🗺"}
@font-face{font-family:'Entypo';font-weight:normal;font-style:normal;src:url("/fonts/entypo.eot");src:url("/fonts/entypo.eot?#iefix") format('embedded-opentype'),url("/fonts/entypo.woff") format('woff'),url("/fonts/entypo.ttf") format('truetype'),url("/fonts/entypo.svg#'entypo'") format('svg')}
i[class*="entypo"]{font-style:normal}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
[ng-cloak]{display:none}
body,html{width:100%;height:100%;margin:0;padding:0;position:relative;overflow:hidden;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{background:#fff;color:#39474c}
a{text-decoration:none}
#grid-container{position:absolute;top:0;width:100%;height:100%}
.pane{position:absolute;width:100%;height:100%}
#grid-container{z-index:0;-webkit-transform:translate3d(0,0,0)}
.overview{padding-top:100px;-webkit-transform:translate3d(100%,0,0)}
.goal-view{-webkit-transform:translate3d(200%,0,0)}
html{font:14px Proxima Nova,Avenir,Helvetica;color:#39474c;line-height:1.25}
h1{font-size:40px;font-size:2rem;font-weight:100;line-height:2.5rem}
h2{font-size:30px;font-size:1.5rem;font-weight:300;line-height:1.875rem}
h3{font-size:20px;font-size:1rem;font-weight:700;line-height:1.25rem}
hr{border:none;border-bottom:1px solid rgba(0,0,0,0.1);margin-top:-1px}
.electric-text{color:#debc08}
.water-text{color:#1e91b8}
.caption{color:#a7afa6;font-size:12px}
.right-align{text-align:right}
.list-stacked,.behavior-suggestions{list-style-type:none;overflow:scroll;position:relative;margin:0;padding:0;}
.list-stacked li,.behavior-suggestions li{padding:12px 14px;}
.list-stacked li+ li,.behavior-suggestions li+ li{border-top:1px solid #e6e6e6}
.list-stacked li a,.behavior-suggestions li a{margin-right:12px}
.button-base,.button,.button-large,.button-small{display:inline-block;padding:8px 12px;margin-bottom:0;font-size:14px;font-weight:500;line-height:1.25;text-align:center;vertical-align:middle;cursor:pointer;border:1px solid transparent;-webkit-border-radius:4px;border-radius:4px;white-space:nowrap;}
.button-base i,.button i,.button-large i,.button-small i{font-size:40px;line-height:0;position:relative;top:6px}
.button-circle-base,.button-circle,.button-circle-small,.button-circle-large{display:inline-block;width:40px;height:40px;-webkit-border-radius:30px;border-radius:30px;border:1px solid transparent;overflow:hidden;text-align:center;font-size:40px;line-height:33px}
.button,.button-large,.button-small{background-color:#fff;color:#1e91b8;border-color:#e6e6e6;}
.button:active,.button-large:active,.button-small:active{background-color:#1e91b8;border-color:#1e91b8;color:#fff}
.button-large{font-weight:700;padding:14px 16px}
.button-small{padding:5px 10px}
.button-circle,.button-circle-small,.button-circle-large{background-color:#fff;color:#1e91b8;border-color:#e6e6e6;}
.button-circle:active,.button-circle-small:active,.button-circle-large:active{background-color:#1e91b8;border-color:#1e91b8;color:#fff}
.button-circle-small{width:20px;height:20px;font-size:20px;line-height:16px}
.button-circle-large{width:60px;height:60px;line-height:55px}
.button-primary{background-color:#fff;color:#1e91b8;border-color:#e6e6e6;}
.button-primary:active{background-color:#1e91b8;border-color:#1e91b8;color:#fff}
.button-success{background-color:#fff;color:#1db847;border-color:#e6e6e6;}
.button-success:active{background-color:#1db847;border-color:#1db847;color:#fff}
.button-danger{background-color:#fff;color:#d45d5d;border-color:#e6e6e6;}
.button-danger:active{background-color:#d45d5d;border-color:#d45d5d;color:#fff}
.button-warning{background-color:#fff;color:#ed7d3b;border-color:#e6e6e6;}
.button-warning:active{background-color:#ed7d3b;border-color:#ed7d3b;color:#fff}
.button-info{background-color:#fff;color:#18ba97;border-color:#e6e6e6;}
.button-info:active{background-color:#18ba97;border-color:#18ba97;color:#fff}
.button-group .button,.button-group button{display:block;float:left;border-right-width:0;}
.button-group .button:first-of-type,.button-group button:first-of-type{-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
.button-group .button:last-of-type,.button-group button:last-of-type{-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;border-right-width:2px}
.badge-base,.badge{-webkit-border-radius:3px;border-radius:3px;padding:3px 5px;margin-left:2px}
.badge{background:#a7afa6;color:#fff}
.goal-view p .electric-text,.goal-view p .water-text{font-weight:700}
.goal-view .panel-side{bottom:30px}
.progress-state{position:absolute;bottom:0;float:left;padding:12px;width:100%;}
.progress-state .save{float:right}
.progress-state .cancel{float:left}
.slider-container{height:200px;padding:8px 12px;}
.slider-container .slider{float:left;width:50%;text-align:center}
.slider-container .electric{color:#debc08}
.slider-container .water{color:#1e91b8}
.goal_inputs{padding:8px 12px;}
.goal_inputs input{-webkit-appearance:none;outline:none;width:100%;padding:8px 12px;border:1px solid #e6e6e6;-webkit-border-radius:4px;border-radius:4px;}
.goal_inputs input+input{margin-top:10px}
.height-fix{position:relative}
.behavior-suggestions li.selected{color:#a7afa6}
.behavior-suggestions li .impact{float:right;margin-top:4px;font-size:12px;color:#a7afa6}
.projections{zoom:1;width:100%;}
.projections:before,.projections:after{content:"";display:table}
.projections:after{clear:both}
.projections .projection{zoom:1;float:left;width:50%;padding:8px 12px;}
.projections .projection:before,.projections .projection:after{content:"";display:table}
.projections .projection:after{clear:both}
.projections .projection i{float:left;font-size:40px;line-height:17px;margin-top:-4px}
.projections .projection .amount{line-height:17px;float:right}
.panel-base,.panel-side,.past-view .statistics{background:#fff;border:1px solid #e6e6e6;-webkit-border-radius:4px;border-radius:4px;}
.panel-base h1,.panel-side h1,.past-view .statistics h1,.panel-base h2,.panel-side h2,.past-view .statistics h2,.panel-base h3,.panel-side h3,.past-view .statistics h3,.panel-base h4,.panel-side h4,.past-view .statistics h4,.panel-base h5,.panel-side h5,.past-view .statistics h5,.panel-base p,.panel-side p,.past-view .statistics p{padding:8px 12px;margin:0}
.panel-side{position:absolute;width:300px;top:30px;}
.panel-side.right{right:30px}
.panel-side.left{left:30px}
#timeline{position:absolute;top:0;width:150%;-webkit-transform:translate3d(0,0,0);background:#66c6e6;z-index:100;}
#timeline figure{margin:0;height:70px;}
#timeline figure svg{height:70px;}
#timeline figure svg .axis.x{-webkit-transform:translate(0,42px);-moz-transform:translate(0,42px);-o-transform:translate(0,42px);-ms-transform:translate(0,42px);transform:translate(0,42px)}
#clock{width:768;margin:0 auto;}
#clock .area{fill:#66c6e6}
#clock .line{fill:none;stroke:#1e91b8}
#clock .prod_area{fill:#fae161;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
#clock .prod_line{fill:none;stroke:#f9de4f}
#clock .min_line{stroke:#fff;stroke-dasharray:5px;stroke-width:1px;fill:none}
#clock .max_line{stroke:#d45d5d;stroke-dasharray:5px;stroke-width:1px;fill:none}
#clock .daytime_arc{fill:#f9de4f;stroke-width:3px;stroke:#f9de4f;stroke-linejoin:round}
#clock .nighttime_arc{fill:#002835;stroke-width:3px;stroke:#002835;stroke-linejoin:round}
#clock .coordinates{stroke:#bef3ff}
#clock .now{stroke:#1e91b8;stroke-width:2px;stroke-linecap:round}
.floorplan .room{fill:#d6f8ff}
.goal-view .line-graph{height:100%;width:100%;margin:0;position:absolute;top:0;left:0}
.past-view{padding-top:70px;}
.past-view figure{margin:0}
.past-view .main-vis{background:#a7afa6;position:absolute;top:100px;left:30px;right:30px;bottom:40%;margin-bottom:12px;}
.past-view .main-vis svg{position:absolute}
.past-view .floorplan-filter{position:absolute;top:60%;left:30px;right:70%;bottom:120px;margin-right:6px}
.past-view .statistics{position:absolute;top:60%;right:30px;left:30%;bottom:120px;margin-left:6px}
.line,.goal{stroke:#effcff;stroke-linecap:round;stroke-width:2px;fill:none;}
.line.dark,.goal.dark{stroke:#1e91b8}
.goal{stroke-dasharray:5px;stroke-width:1px}
.line.electricity{stroke:#f9de4f}
.line.water{stroke:#1e91b8}
.marker{stroke:#fff;stroke-width:1px;stroke-dasharray:1000px}
#blue-circle{fill:#1e91b8}
#yellow-circle{fill:#f9de4f}
.shape.electric{fill:#f9de4f}
.axis line{display:none}
.axis .domain{display:none}
.axis.light text{fill:rgba(255,255,255,0.5);text-transform:lowercase;font-size:11px}
.axis.dark text{fill:rgba(0,0,0,0.5);text-transform:lowercase;font-size:11px}
.split{fill:#85d1eb}
.brush{fill:#33b3de}
.progress,.progress-electric,.progress-water{width:100%;height:27px;clear:both;overflow:hidden}
.progress-bar{background:#a7afa6;height:27px;-webkit-transition:all 500ms}
.progress-electric .progress-bar{background:#f9de4f}
.progress-water .progress-bar{background:#1e91b8}
.slider{margin:0;display:block;height:100%;}
.slider .rail{margin:0 auto;display:block;height:100%;width:10px;background:#a7afa6;content:" ";}
.slider .rail .knob{position:relative;left:-25px;height:20px;width:60px;background:#39474c}
.navigation ul,.shortcuts ul,.vis-types ul{margin:0;padding:0;list-style-type:none;}
.navigation ul li,.shortcuts ul li,.vis-types ul li{display:inline;}
.navigation ul li+li,.shortcuts ul li+li,.vis-types ul li+li{margin-left:12px}
.shortcuts{position:absolute;bottom:30px;left:30px;z-index:200}
.vis-types{position:absolute;bottom:30px;right:30px}
.animate{-webkit-transition:all 200ms cubic-bezier(.785,.135,.15,.86)}
#idle-screen{position:absolute;z-index:200;background:#fff}
#half-step{position:absolute;top:0;left:0;right:0;bottom:0}
