@import "bootstrap/bootstrap";

html, body {
	width: 100%;
	height: 100%;

	position: relative;
	overflow: hidden;
}

.pane-container, .pane {
	position: absolute;

	top: 0;
	// bottom: 0;
	// left: 0;
	// right: 0;

	clear: both;

	height: 100%;
	width: 100%;
}

.pane-container {
	z-index: 0;
	-webkit-transform: translate3d(0,0,0);
}

.animate {
	-webkit-transition: all 200ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
}

.present-view {
	-webkit-transform: translate3d(100%,0,0);
}

.future-view {
	-webkit-transform: translate3d(200%,0,0);
}

.make-full-row(@gutter: @grid-gutter-width) {
	padding-left:  (@gutter / -2);
  	padding-right: (@gutter / -2);
	.clearfix();
}

.full-row {
	.make-full-row();
}

.yellow-text {
	color: darken(@yellow, 10%);
}

.blue-text {
	color: @blue;
}

.green-text {
	color: @green;
}

.thin {
	font-weight: 100;
}

.vis-timeline, .vis-past-detail, .vis-goal-setting {
	padding: @padding-large-vertical @padding-large-horizontal;

	background: @gray-light;
	border-radius: @border-radius-small;
}

.vis-timeline {
	margin: @grid-gutter-width;
	margin-bottom: 0;
	height: 70px;
}

.vis-past-detail {
	position: absolute;
	top: 70px + 2 * @grid-gutter-width;
	bottom: 0;
	left: @grid-gutter-width;
	right: @grid-gutter-width;

	margin-bottom: 45px + 2 * @grid-gutter-width;
}

.vis-goal-setting {
	position: absolute;
	top: @grid-gutter-width;
	bottom: @grid-gutter-width;
	left: @grid-gutter-width;
	right: 2 * @grid-gutter-width + 300px;
}

.bottom-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 @grid-gutter-width / 2;

	margin: @grid-gutter-width 0;
}

.center {
	text-align: center;
}

.btn-yellow {
  .button-variant(#fff; #CFA62D; darken(#CFA62D, 10%));
}

.btn-dark {
  .button-variant(#fff; @gray; darken(@gray, 10%));
}

::selection {
    background-color:Transparent;
}

.popover {
	width: 200px;
}

.popover-title {
	background: none;
	border: none;
	font-weight: bold;
}

.popover-content {
	padding: 0;

	.list-group {
		border: none;
		margin-bottom: 0;

		.list-group-item {
			border: none;

			&+.list-group-item {
				border-top: 1px solid @gray-lighter;
			}
		}
	}
}

.sidebar {
	position: absolute;

	right: @grid-gutter-width;
	top: @grid-gutter-width;
	bottom: @grid-gutter-width;
	width: 300px;

	.panel {
		display: table;
		height: 100%;

		.nav li {
			padding: @padding-small-horizontal;

			&+li {
				padding-left: 0;
			}
		}
	}

	table {
		margin-bottom: 0;
	}
}

.list-group-item .icon {
	margin-right: @padding-small-horizontal;
	line-height: 18px;

	color: @gray;
}

.list-group-item .badge {
	position: relative;
	bottom: -3px;
}



.panel-subheading:extend(.panel-heading) {

	border-top: 1px solid transparent;

	.border-top-radius(0px);
}

.unflexible {
	float: none;
	clear: both;
	display: table-row;
}

.flexible {
	display: table-row;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	.list-group {
		height: 100%;
		overflow: auto;

		.list-group-item {
			border-color: transparent;
			border-radius: 0;
		}
	}
}

.hvac-control {

	input[type="range"] {
		 -webkit-appearance: none !important;
		
		width: 100%;
		background: @gray-light;
		border-radius: 40px;

		padding: 3px;

		border: 1px solid darken(@gray-light, 10%);
	}

	input[type="range"]::-webkit-slider-thumb {
	 	-webkit-appearance: none !important;

	 	background: @gray;
	 	height: 40px;
	 	width: 40px;
	 	border-radius: 50%;
	}
}