html
	font-family Proxima Nova, Avenir, Helvetica

p, .p, ul, ol, hr, table, form, pre, h1, .alpha, h2, .beta
	margin-bottom: 30px;
	margin-bottom: 1.5rem;
	color dark-blue

h1, .alpha
	font-size: 60px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 2;


h2, .beta
	font-size: 30px;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2;


h3, .gamma
	font-size: 20px;
	font-size: 1rem;
	font-weight: 700;
	line-height 2


hr
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: -1px;
	line-height 2