// PALETTE
// Pretty scale
// dark-brown = #312d2c
// tan = #ecedad
// light-red = #d2aea0
// red = #c0413a
// darkest-blue = #3f4859
// dark-blue = #2f5287
// blue = #6483a3
// light-blue = #97b5c9
// lightest-blue = #cee3f0
// off-white = #e3e0e5
// green = #4dd35e

// Screen Shot 2013-07-30 at 1.28.50 PM
lightest-gray = #e5ecf4
light-gray    = #a7afa6
gray          = #39474c
darkest-blue  = #001d2b
dark-blue     = #002835
blue          = #1e7fb8
yellow        = #ebeb46
orange        = #ed7d3b
red           = #D45D5D
green 	      = #1DB847

off-white 	  = lighten(lightest-gray, 40%)
light-blue    = lighten(blue, 40%)


// ColorBrewer scale
brewer-dark-red     = #8c0032
brewer-red          = #d73c4c
brewer-orange       = #f66d3a
brewer-light-orange = #ffaf59
brewer-yellow       = #ffe185
brewer-off-white    = #ffffbc
brewer-light-green  = #e6f693
brewer-green        = #aadea2
brewer-blue-green   = #62c3a5
brewer-blue         = #2c87bf
brewer-purple       = #5e4ca4

// DIMENSIONS
// margins
all-margins   = 30px
top-margin    = all-margins
bottom-margin = all-margins
left-margin   = all-margins
right-margin  = all-margins

// buttons
button-height = 60px
button-circle-diameter = button-height
button-color = light-gray
button-hover-color = gray
button-active-color = blue

// modal
modal-header-height = 90px
modal-left-col-width = 30%
modal-right-col-width = 100% - modal-left-col-width