// DIMENSIONS
// margins
all-margins   = 30px
top-margin    = all-margins
bottom-margin = all-margins
left-margin   = all-margins
right-margin  = all-margins

// buttons
button-height = 60px
button-circle-diameter = button-height

// modal
modal-header-height = 90px
modal-left-col-width = 30%
modal-right-col-width = 100% - modal-left-col-width

// PALETTE
// Pretty scale
dark-brown = #312d2c
tan = #ecedad
light-red = #d2aea0
red = #c0413a
darkest-blue = #3f4859
dark-blue = #2f5287
blue = #6483a3
light-blue = #97b5c9
lightest-blue = #cee3f0
off-white = #e3e0e5
green = #4dd35e

// ColorBrewer scale
brewer-dark-red     = #8c0032
brewer-red          = #d73c4c
brewer-orange       = #f66d3a
brewer-light-orange = #ffaf59
brewer-yellow       = #ffe185
brewer-off-white    = #ffffbc
brewer-light-green  = #e6f693
brewer-green        = #aadea2
brewer-blue-green   = #62c3a5
brewer-blue         = #2c87bf
brewer-purple       = #5e4ca4