
// components/progress.styl
//-------------------------
// Progress bars!

.progress
	width 100%
	height line-height-computed + 10px
	clear both

.progress-bar
	background yellow
	height line-height-computed + 10px