
// components/sliders.styl
//------------------------
// Sliders!

// Base styles
//-------------------------------

.slider
	margin 0
	display block
	height 100%

	.rail
		margin 0 auto
		display block
		height 100%
		width 10px

		background gray
		content " "

		border-radius border-radius-base

		.knob
			position relative
			left -55px
			height 30px
			width 120px

			background base-black
			border-radius border-radius-base