
// components/panels/goal-panel.styl
//----------------------------------
// Implementation styles for the goal-setting panel

// Behavior suggestions
//-------------------------------

.goal-view p .electric-text, .goal-view p .water-text
	font-weight 700

.goal-view .panel-side
	bottom body-padding

.progress-state
	position absolute
	bottom 0

	float left
	padding padding-base-horizontal
	width 100%

	.save
		float right

	.cancel
		float left

// .slider-container
// 	height 200px
// 	padding padding-base

// 	.slider
// 		float left
// 		width 50%
// 		text-align center

// 	.electric
// 		color darken(yellow, 30%)

// 	.water
// 		color blue

.goal_inputs
	padding padding-base
	input
		-webkit-appearance none
		outline none
		width 100%
		padding padding-base

		border 1px solid darken(white, 10%)
		border-radius border-radius-base

		&+input
			margin-top 10px

.temp
	h1
		// background red
		text-align center
		color white

.set_hvac 
	z-index 200

	input[type="range"]
		-webkit-appearance none !important
		background lighten(gray, 40%)
		-webkit-transform rotate(90deg)

		width 450px
		height 10px

		position absolute
		top 340px
		left -71px

		border-radius border-radius-base

	input[type="range"]::-webkit-slider-thumb
		-webkit-appearance none !important
		background base-black
		content " "
		width 40px
		height 120px
		border-radius border-radius-base

.height-fix
	position relative

.behavior-suggestions
	@extends .list-stacked
	
	li 
		&.selected
			color gray

		.impact
			float right
			margin-top 4px

			font-size 12px
			color gray

.projections
	clearfix()
	width 100%

	.projection
		clearfix()
		float left
		width 50%

		padding padding-base

		i
			float left
			font-size 40px
			line-height line-height-computed
			margin-top -4px
		
		.amount
			line-height line-height-computed
			float right
