// Styles
//-------------------------------

#timeline
	position absolute
	top 0

	// clearfix()
	width 150%
	// padding 30p

	-webkit-transform translate3d(0,0,0)
	background vis-background-color
	// height timeline-height

	z-index 100

	figure
		margin 0
		height 70px

		svg
			height 70px

			.axis.x
				transform translate(0,42px)