
// global/variables/buttons.styl
//------------------------------
// Dimensions, colors, etc. for the buttons.


// Dimensions
button-height = 60px
button-circle-diameter = button-height

// Colors
button-color = light-gray
button-hover-color = gray
button-active-color = blue