html
	font font
	color base-black
	line-height line-height-base

// p, .p, ul, ol, hr, table, form, pre, h1, .alpha, h2, .beta
// 	margin-bottom 30px
// 	margin-bottom 1.5rem

h1
	font-size 40px
	font-size 2rem
	font-weight 100
	line-height line-height-base * @font-size


h2
	font-size 30px
	font-size 1.5rem
	font-weight 300
	line-height line-height-base * @font-size


h3
	font-size 20px
	font-size 1rem
	font-weight 700
	line-height line-height-base * @font-size


hr
	border none
	border-bottom 1px solid rgba(0,0,0,.1)
	margin-top -1px

.electric-text
	color darken(yellow, 30%)

.water-text
	color blue

.caption
	color gray
	font-size 12px

.right-align
	text-align right