#clock
	width 768
	margin 0 auto

	.area
		fill lighten(blue, 40%)
		// opacity 0.5


	.line
		fill none
		stroke blue
		// stroke-width 1px

	.prod_area
		fill lighten(yellow, 10%)
		opacity 0.8

	.prod_line
		fill none
		stroke yellow

	.min_line
		stroke white
		stroke-dasharray 5px
		stroke-width 1px
		fill none

	.max_line
		stroke red
		stroke-dasharray 5px
		stroke-width 1px
		fill none

	.daytime_arc
		fill yellow
		stroke-width 3px
		stroke yellow
		stroke-linejoin round

	.nighttime_arc
		fill dark-blue
		stroke-width 3px
		stroke dark-blue
		stroke-linejoin round

	.coordinates
		stroke darken(gray-lighter, 10%)

	.now
		stroke blue
		stroke-width 2px
		stroke-linecap round