// Styles for floor plan visualization
//-------------------------------

#floorplan
	position absolute
	left 130px
	top 85px

	#floorplan_svg
		position absolute
		left 0

	.floorplan_rect
		fill gray-light
		stroke gray
		stroke-width 1px