// Styles for floor plan visualization
//-------------------------------

#floorplan
	position absolute
	left 130px
	top 140px

	#floorplan_svg
		position absolute
		left 50px
		top 50px

	.floorplan_rect
		fill gray-light
		stroke gray
		stroke-width 1px