
// components/visualizations/floorplan.styl
//-----------------------------------------

// #floorplan
// 	position absolute
// 	left 130px
// 	top 160px

// 	#floorplan_svg
// 		position absolute
// 		left 0

// 	.floorplan_rect
// 		fill gray-light
// 		stroke gray
// 		stroke-width 1px

.floorplan
	
	.room
		fill gray