
// components/visualizations/index.styl
//-------------------------------------
// Styles for D3 visualizations


// Variables
//-------------------------------

vis-background-color = lighten(blue, 40%)
vis-line-color       = gray-lighter
vis-off-color 	     = lighten(brand-primary, 20%)
vis-axis-color 	     = lighten(vis-background-color, 20%)

electricity-color    = yellow
water-color          = blue

vis-line-stroke-width = 1.5px

vis-goal-dasharray    = 5px
vis-goal-stroke-width = 1px

// Imports
//-------------------------------

@import "timeline"
@import "clock"
@import "floorplan"
@import "goal_view"
@import "past-view"

// Lines
//-------------------------------

.line
	stroke vis-line-color
	stroke-linecap round
	stroke-width vis-line-stroke-width
	fill none

	&.dark
		stroke blue

.goal // TODO: consider renaming this to .goal-line
	@extends .line
	stroke-dasharray vis-goal-dasharray
	stroke-width vis-goal-stroke-width

.line.electricity
	stroke electricity-color

.line.water
	stroke water-color

.marker
	stroke white
	stroke-width 1px
	stroke-dasharray 1000px

#blue-circle
	fill blue

#yellow-circle
	fill yellow

// Lines
//-------------------------------

.shape.electric
	fill yellow

// Axes
//-------------------------------

.axis
	line
		display none // hide the ticks

	text
		fill rgba(0,0,0,.5)
		text-transform lowercase
		font-size 11px

	.domain
		display none

	&.light text
		fill rgba(255, 255, 255, .5)

	&.dark
		&.electric text
			fill darken(yellow, 40%)

		&.water text
			fill blue



.split
	fill vis-axis-color

	
// Brush
//-------------------------------

.brush
	fill vis-off-color