// Styles
//-------------------------------

#timeline
	top 0
	position absolute

	clearfix()
	width 150%
	// padding 30p

	-webkit-transform translate3d(0,0,0)
	background vis-background-color
	height 70px

	z-index 100

	figure
		margin 0
		height 70px

		svg
			height 70px

			.split
				fill vis-axis-color

			.axis.x
				transform translate(0,42px)